<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229931044707-gjhjtgfhoiou2tkqo36rm49phfs448ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229931044707-gjhjtgfhoiou2tkqo36rm49phfs448ak</string>
	<key>API_KEY</key>
	<string>AIzaSyCPcTyWcpaoeDCey9YYvX-1d3WvnKqyleU</string>
	<key>GCM_SENDER_ID</key>
	<string>229931044707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iConnect.iConnect-iOS</string>
	<key>PROJECT_ID</key>
	<string>iconnect-73f42</string>
	<key>STORAGE_BUCKET</key>
	<string>iconnect-73f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:229931044707:ios:b89b607b3b611bdf604d56</string>
</dict>
</plist>
