<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548530366713-vpt4n8u4g1jhlkhtco2m3jjp22oirrfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548530366713-vpt4n8u4g1jhlkhtco2m3jjp22oirrfi</string>
	<key>API_KEY</key>
	<string>AIzaSyCcjRzDvSzdoqoJKEZVRkjSQRWVhzZJ8Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>548530366713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iConnect.ReConnect</string>
	<key>PROJECT_ID</key>
	<string>reconnect-d8041</string>
	<key>STORAGE_BUCKET</key>
	<string>reconnect-d8041.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548530366713:ios:cc695aa21a7cafce351a28</string>
</dict>
</plist>