<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798412212643-hc256knpt4urjatf2uv4eagldbgmkql0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798412212643-hc256knpt4urjatf2uv4eagldbgmkql0</string>
	<key>API_KEY</key>
	<string>AIzaSyD3Q_XW1F4DJYbtTS0RKbBYf4d31YBTX1c</string>
	<key>GCM_SENDER_ID</key>
	<string>798412212643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iConnect.iConnect-iOS</string>
	<key>PROJECT_ID</key>
	<string>iconnect-project-58907</string>
	<key>STORAGE_BUCKET</key>
	<string>iconnect-project-58907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798412212643:ios:1f705deb34e52412103216</string>
</dict>
</plist>