<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009260139599-gsiskhqd4v6525hgqief1nqa3lbp1som.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009260139599-gsiskhqd4v6525hgqief1nqa3lbp1som</string>
	<key>API_KEY</key>
	<string>AIzaSyAZKXSL4vOH696IOxsgaLkmpBPcJDqmIMw</string>
	<key>GCM_SENDER_ID</key>
	<string>1009260139599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iConnect.ReConnect</string>
	<key>PROJECT_ID</key>
	<string>re-connect-841ca</string>
	<key>STORAGE_BUCKET</key>
	<string>re-connect-841ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009260139599:ios:25ee67049b3c6b3043863a</string>
	<key>DATABASE_URL</key>
	<string>https://re-connect-841ca-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
