<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862821562895-vcclahv63co3g4qpg7n06vp12j4k0gsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862821562895-vcclahv63co3g4qpg7n06vp12j4k0gsa</string>
	<key>API_KEY</key>
	<string>AIzaSyBWZjzPWbTjWVZHWKBtU85jvdANIWql34o</string>
	<key>GCM_SENDER_ID</key>
	<string>862821562895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iConnect.iCList</string>
	<key>PROJECT_ID</key>
	<string>iclist</string>
	<key>STORAGE_BUCKET</key>
	<string>iclist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:862821562895:ios:8d65f4219e289bd391417a</string>
	<key>DATABASE_URL</key>
	<string>https://iclist-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
