<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691402003852-nvrsflioiedt95qh6lelmfs42q2n37ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691402003852-nvrsflioiedt95qh6lelmfs42q2n37ar</string>
	<key>API_KEY</key>
	<string>AIzaSyCFNZLt63qZ2WvMYaZcg9n6vcNyaV2CFa4</string>
	<key>GCM_SENDER_ID</key>
	<string>691402003852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ReConnect.ReSocial</string>
	<key>PROJECT_ID</key>
	<string>reconnect-5393f</string>
	<key>STORAGE_BUCKET</key>
	<string>reconnect-5393f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691402003852:ios:aedb1dfeb901e12911b2a9</string>
</dict>
</plist>